<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>



<body>
    <nav>
        <div class="nav-wrapper">
            <div>
                <a href="/recipes" class="brand-logo center">
                    <img src="/logo2.png" />Piece of Cake</a>
            </div>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/recipes/new">Add a Recipe</a></li>
                <li><a href="/logout">Logout</a></li>
                <li class="active"><a href="collapsible.html">Gallery</a></li>
            </ul>
        </div>
    </nav>

    <h1>
        <Edit a Recipe>
    </h1>
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <div class="row show_container">
            <div class="col s12 show_colume">
                Title:<input value="<%= recipe.title %>" type="text" name="title" />
                Intro:<input value="<%= recipe.intro %>" type="text" name="intro" />
                Preparation time: <input value="<%= recipe.preparation_time %>" type="number"
                    name="preparation_time" /><br>
                Cook time:<input value="<%= recipe.cook_time %>" type="number" name="cook_time" /><br>
            </div>
            <div class="col s6">
                Ingredients:
                <ul>
                    <% for(let i = 0; i < recipe.ingredients.length; i++){ %>
                    <li class="list"><%= recipe.ingredients[i] %></li>
                    <% } %>
                </ul>
            </div>
            <div class="col s6">
     Image: <input value="<%= recipe.image %>" type="text" name="image" />
            </div>
            <div class="col s12">
                <h5>Directions</h5>
                <ol>
                    <% for(let i = 0; i < recipe.directions.length; i++){ %>
                    <li class="list"><%= recipe.directions[i] %></li>
                    <% } %>
                </ol>
                </div>
        </div>

        <div class="changes">
            <input type="submit" value="Submit Changes" class="waves-effect waves-light btn" /></a>
        </div>
        
    </form>

</body>

</html>