<!DOCTYPE html>
<html>
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <main>
            <section>
                <nav>
                    <div class="nav-wrapper">
                        <div>
                            <a href="/recipes" class="brand-logo center">
                                <img src="/logo2.png" />Piece of Cake</a>
                        </div>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a href="/recipes/new">Add a Recipe</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li class="active"><a href="/recipes">Gallery</a></li>
                        </ul>
                    </div>
                </nav>

                <body>
                    <div class="row">
                        <div class="col s12 header-quote"></div>
                        <div class="col s12">
                            <div class="container background_img">
                                <img class="index_img"
                                    src="https://cdn.pixabay.com/photo/2021/04/12/10/42/tiramisu-6172170_1280.png" />
                                <div class="top-left">Bake the World a Better Place</div>
                            </div>
                        </div>
                    </div>
            </section>
        </main>
    </header>
    <main>
        <h2 class="header">List of Recipes</h2>

        <div class="row">
            <div class="col s12 m7">
                <% for(let i = 0; i < recipes.length; i++){ %>
                <div class="card">

                    <div class="card-image">
                        <img class="recipe_img" src="<%= recipes[i].image %>" />

                    </div>
                    <div class="card-content">
                        <span class="card-title"><a class="recipe_title"
                                href="/recipes/<%= recipes[i]._id %>"><%= recipes[i].title %></a></span>
                        <p class="recipe_intro"><%= recipes[i].intro %></p>
                    </div>
                    <div class="card-action">
                        <a href="/recipes/<%= recipes[i]._id %>">Read More</a>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </main>
</body>
</html>