<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <main>
    <nav>
      <div class="nav-wrapper">
        <div>
          <a href="/recipes" class="brand-logo center">
            <img src="/logo2.png">Piece of Cake</a>
        </div>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/recipes/new">Add a Recipe</a></li>
          <li class="active"><a href="/recipes">Gallery</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <div class="row show_container">
        <div class="col s12 show_colume">
          <h2><%= recipe.title %></h2>
          <p><%= recipe.intro %></p>
          <h5>Preparation time</h5>
          <p><%= recipe.preparation_time %> minutes</p>
          <h5>Cook Time</h5>
          <p><%= recipe.cook_time %> minutes</p>
        </div>
        <div class="col s6">
          <h5>Ingredients</h5>
          <ul>
            <% for(let i = 0; i < recipe.ingredients.length; i++){ %>
            <li class="list"><%= recipe.ingredients[i] %></li>
            <% } %>
          </ul>
        </div>
        <div class="col s6">
          <img class="recipe_show_img" src="<%= recipe.image %>" />
        </div>
        <div class="col s12">
          <h5>Directions</h5>
          <ol>
            <% for(let i = 0; i < recipe.directions.length; i++){ %>
            <li class="list"><%= recipe.directions[i] %></li>
            <% } %>
          </ol>
        </div>
      </div>
      <form action="/recipes/<%= recipe._id; %>?_method=DELETE" method="POST">
        <div class="edit_delete_link">
          <a href="/recipes/<%= recipe._id; %>/edit" class="waves-effect waves-light btn"
            class="editLink show_edit">Edit</a>
          <input class="waves-effect waves-light btn" class="waves-effect waves-light dltBtn show_delete" type="submit"
            value="DELETE" />
        </div>
      </form>
    </section>
  </main>
</body>
</html>